package layout

templ TradesBase(isError bool, errMsgs, sucMsgs []string) {
	<!DOCTYPE html>
	<html lang="en" data-theme="light">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta
				name="description"
				content="RWBY Adventures"
			/>
			<meta name="google" content="notranslate"/>
			<link rel="shortcut icon" href="/img/templ.png" type="image/png"/>
			<link rel="stylesheet" href="/css/styles.css"/>
			<title>RWBY Adventures Trades</title>
			// <script src="https://cdn.tailwindcss.com"></script>
			// <script src="https://unpkg.com/htmx.org@2.0.0" crossorigin="anonymous"></script>
			// <script src="https://unpkg.com/htmx-ext-sse@2.0.0/sse.js"></script>
			// <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
			// <script src="https://unpkg.com/alpinejs" defer></script>
			<script src="/cdn/static/htmx.min.js" defer></script>
			<script src="/cdn/static/htmx-ext-sse.js" defer></script>
			<script src="/cdn/static/alpinejs.min.js" defer></script>
			<script src="/cdn/static/_hyperscript.min.js" defer></script>
			<link rel="stylesheet" href="/cdn/static/tailwind.css"/>
		</head>
		<body x-data="{ modal: false }" class="sample-transition" hx-boost="true">
			<div
				class="fixed z-10 inset-x-0 top-0"
				id="message"
			></div>
			<main class={ templ.KV("pt-10 px-5 lg:pt-20 lg:px-20", !isError) }>
				{ children... }
			</main>
		</body>
	</html>
}
