package css

templ Style() {
	<style>
    .icon-container {
        position: relative;
    }

    .icon-container svg {
        position: absolute;
    }

    .icon-container .line {
        stroke-dasharray: 95;
        stroke-width: 4px;
        fill: transparent;
        animation: svgAnimation 6s linear infinite;
    }

    @keyframes svgAnimation {
        from {
            stroke-dashoffset: 0;
        }
        to {
            stroke-dashoffset: 190;
        }
    }
    </style>
}
